.about-wrapper {
	width:100%;
	height:100vh-10vh;
	padding-top:60px;
	background:$light;
	.inner-wrapper {
		text-align: center;
		.heading-wrapper {
			width:40%;
			margin:0px auto;
			h2 {
				font-size: 2em;
				line-height: 1.2;
				margin-bottom: 8px;
				color:$secondary;
				font-weight: 400;
			}
			h4 {
				color:$primary;
				font-weight: 600;
				font-size: 1.1em;
			}
		} // end of heading-wrapper

		.about-text {
			margin:25px auto;
			width: 55%;

			img {
				width:200px;
				height: 200px;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				
				&:hover {
					transform:translateY(-10px);
				}

			}
		}

	} // end of inner-wrapper

} // end of about-wrapper


@include breakpoint($ipadMax) {
	.about-wrapper {
		.inner-wrapper {
			.heading-wrapper {
				width:70%;
				h2 {
					font-size: 1.7em;
				}
				
			} // end of heading-wrapper
			
			.about-text {
				width:70%;
				img {
					width:150px;
					height: 150px;	
				}

				
			} // end of about-text

		} // end of inner-wrapper
	} // end of about-wrapper
}


@include breakpoint($mobileMax) {
	.about-wrapper {
		.inner-wrapper {
			.heading-wrapper {
				width:70%;
				h2 {
					font-size: 1.4em;
				}

				
				h4 {
					font-size:0.9em;
				}
				
			} // end of heading-wrapper
			
			.about-text {
				img {
					width:100px;
					height: 100px;	
				}

				p {
					font-size:0.8em;
				}
			} // end of about-text

		} // end of inner-wrapper
	} // end of about-wrapper
}